node_modules/
yarn.lock
database.rules.json
firestore.indexes.json
firestore.rules
storage.rules
functions/.eslintrc.json
.yarn/
*.cache
.babelrc
.pnp.js
.yarnrc.yml
src/js/airline.js
src/js/contacts.js
src/js/ecommerce.js
database-debug.log
firebase-debug.log
firestore-debug.log
pubsub-debug.log
ui-debug.log
.DS_Store
src/.DS_Store
firebaserc.txt
*.icloud
export.js
src/images/VersionControl/
