rules_version = '2';

// Allow read/write access on all documents to any user signed in to the application
service cloud.firestore {
  match /databases/{database}/documents {
    function prefix(){
      return /databases/{db}/documents;
    }
    
    match /chatroom/{roomId} {
      allow read, write: if request.auth != null && roomId in get(/$(prefix())/users/$(request.auth.uid)).data.chats 
      || exists(/$(prefix())/admins/$(request.auth.uid));
    }

    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId || exists (/$(prefix())/admins/$(request.auth.uid));
    }

    match /admins/{userId} {
      allow read, write: if request.auth != null && exists(/$(prefix())/admins/$(request.auth.uid));
    }

    // If you update a city doc, you must also update the related country's last_updated field
    match /cities/{city}{
      allow write: if request.auth != null && 
      getAfter(
        /databases/$(database)/documents/countries/$(request.resource.data.country)
      ).data.last_updated == request.time;
    }

    match /countries/{country}{
      allow write: if request.auth != null;
    }

    match /{document=**} {
      allow read, write: if request.auth != null;
    }

    match /DosBoostrapCF/{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
