.btn {
    padding: 7.5px 15px;
    background: $royalblue;
    border: 1px $white solid;
    border-radius: 4px;
    &:hover {
        text-decoration: none;
        background-color: $white;
        color: $blueviolet;
        transition: ease-in 0.5s;
    }
}

.btn.secondary {
    background: $royalblue;
    border-radius: 5px;
    border: 2px solid $royalblue;
    color: $white;
    &:hover {
        background-color: transparent;
        color: $blueviolet;
        border-radius: 5px;
        border: 1px solid $blueviolet;
        transition: ease-in 0.5s;
    }
}