/** Fontawesome */

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

/** _Imports */

@import 'algolia';
@import 'colors';
@import 'web-fonts';

/** Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap');
$body-font: 'Crimson Text',
serif;
$header-font: 'Source Sans Pro',
sans-serif;
body {
    font-family: $body-font;
    font-weight: normal;
}


/** Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $header-font;
    font-weight: bold;
}

h1 {
    color: blueviolet;
}

h2 {
    color: orange;
}

h3 {
    color: darkseagreen;
}

h4 {
    color: cadetblue;
}

h5 {
    color: cornflowerblue;
}

h6 {
    color: orangered;
}


/** Other */

// a {
//     &:hover {
//         background-color: purple;
//         transition: ease-in 0.3s;
//         color: white;
//         text-decoration: none;
//     }
// }
#image {
    background: url("../images/unsplash-tomato@0.1x.jpg");
    height: 600px;
    width: 400px;
}


/** Navigation TopBar **/

// nav a {
//     color: green;
//     text-decoration: none;
//     &:hover {
//         text-decoration: underline;
//     }
// }

/** Footer */

footer {
    background-color: purple;
    text-align: center;
    color: white;
}